---
layout: home.njk
---
<header>
  {% include 'partials/header.njk' %}
</header>
{% import 'macros/label.njk' as label %}
{{ label.tag('tag home') }}

<h1>An Awesome Project <span>
<a href="/posts">all posts</a>
