---
title: "Project"
layout: "layouts/home"
---
<header>
  {% include 'partials/header.njk' %}
</header>
{% import 'macros/label.njk' as label %}
{{ label.tag('tag home') }}

{% test "test", "test2" %}

<h1>An Awesome Project <span>
<a href="/posts">all posts</a>
